<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit BookTitle</title>
</head>
<body>
    <div align="center">
        <h1>Edit Booktitle</h1>
        <br />
        <form action="#" th:action="@{/updateb}" th:object="${booktitle}"  method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>BTID:</td>
                    <td><input type="text" th:field="*{btid}" readonly="readonly" /></td>
                </tr>
                <tr>
                    <td>Title Name:</td>
                    <td><input type="text" th:field="*{title}" /></td>
                </tr>
                <tr>
                    <td>AUID:</td>
                    <td><input type="text" th:field="*{auid}" /></td>
                </tr>
                <tr>
                    <td>PUBID:</td>
                    <td><input type="text" th:field="*{pubid}" /></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="text" th:field="*{price}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" >Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>