<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Auther</title>
</head>
<body>
    <div align="center">
        <h1>Edit Auther</h1>
        <br />
        <form action="#" th:action="@{/update}" th:object="${auther}"  method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>ID:</td>
                    <td><input type="text" th:field="*{auid}" readonly="readonly" /></td>
                </tr>
                <tr>
                    <td>Auther Name:</td>
                    <td><input type="text" th:field="*{auther_name}" /></td>
                </tr>
                <tr>
                    <td>email:</td>
                    <td><input type="text" th:field="*{email}" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" >Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>